@import 'https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i';
/* line 5, ../../private/scss/main.scss */
body {
  font-family: 'Roboto', sans-serif;
  background: black url("/static/img/background.png");
  color: #999;
  overflow: hidden; }
  /* line 11, ../../private/scss/main.scss */
  body, body html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0; }

/* line 19, ../../private/scss/main.scss */
#gameArea {
  position: relative;
  width: 100%;
  height: 100%; }
  /* line 24, ../../private/scss/main.scss */
  #gameArea > * {
    position: absolute; }
    /* line 27, ../../private/scss/main.scss */
    #gameArea > *::after {
      content: attr(data-owner);
      visibility: hidden;
      width: 120px;
      background: #666;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      /* Position the tooltip */
      position: absolute;
      z-index: 1;
      bottom: 140%;
      left: 50%;
      margin-left: -60px; }
    /* line 45, ../../private/scss/main.scss */
    #gameArea > *:hover::after {
      visibility: visible; }

/* line 51, ../../private/scss/main.scss */
#controlPanel {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 300px;
  height: 100%;
  background: #666;
  border-left: 10px solid #339;
  padding: 20px;
  box-sizing: border-box; }
