@import "https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i";
/* line 6, ../../private/scss/main.scss */
body {
	font-family: 'Roboto', sans-serif;
	background: #000 url("/static/img/background.png");
	color: #999;
	overflow: hidden; }
	/* line 12, ../../private/scss/main.scss */
	body, body html {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0; }

/* line 20, ../../private/scss/main.scss */
#controlPanel {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	width: 300px;
	height: 100%;
	background: #666;
	border-left: 10px solid #339;
	padding: 20px;
	box-sizing: border-box; }
