@import 'bourbon/bourbon';
@import 'https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i';

// Base

body {
	font-family: 'Roboto', sans-serif;
	background: #000 url('/static/img/background.png');
	color: #999;
	overflow: hidden;
}
