@import 'https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i';

* {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	font-family: 'Roboto', sans-serif;
	background: #000 url('/static/img/background.png');
	color: #999;
	overflow: hidden;

	&, html {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
	}
}

#gameArea {
	position: relative;
	width: 100%;
	height: 100%;
	border: 1px solid rgba(128,128,128, 0.5);

	> span {
		position: absolute;

		&::after {
			content: attr(data-owner);
			visibility: hidden;
			width: 120px;
			background: #666;
			color: #fff;
			text-align: center;
			border-radius: 6px;
			padding: 5px 0;

			/* Position the tooltip */
			position: absolute;
			z-index: 1;
			bottom: 140%;
			left: 50%;
			margin-left: -60px;
		}

		&:hover::after, &.selected::after {
			visibility: visible;
		}
	}
}

#controlPanel {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	width: 300px;
	height: 100%;
	background: #666;
	border-left: 10px solid #339;
	padding: 20px;
	box-sizing: border-box;
}
